{{#if passportSuccess}}
<div class="alert alert-info">
    {{passportSuccess}}
</div>
{{/if}}

{{#if passportFailure}}
<div class="alert alert-danger">
    {{passportFailure}}
</div>
{{/if}}

{{#if registerSuccess}}
<div class="alert alert-primary">
    {{registerSuccess}}
</div>
{{/if}}