
  <!-- TOP HEADER -->
<header class="main-header bg-dark">
<div class="top-header">
  <div class="container">
    <div class="logo">
      <a href="/"><h1>AykutSarac</h1></a>
    </div>
    <ul class="top-social-menu">
      <li><a href="https://www.github.com/AykutSarac" target="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="https://instagram.com/aykut.sarac" target="#"><i class="fab fa-instagram"></i></a></li>
    </ul>

    {{#unless user}}

    <div class="login-area">
      <a href="/login" class="btn btn-primary">Login<span><i class="fas fa-sign-in-alt"></i></span></a>
      <a href="/register" class="btn">Sign Up<span><i class="fas fa-user-plus"></i></span></a>
    </div>

    {{else}}

    <div class="login-area btn">
      <div class="dropdown">
      <button class="dropbtn btn"><a href="/profile">{{user.username}}</a></button>
      <div class="dropdown-content">
        <a href="/profile" class="btn btn-primary">Profile<span><i class="fas fa-sign-in-alt"></i></span></a>
        <a href="/logout" class="btn btn-primary">Log Out<span><i class="fas fa-sign-in-alt"></i></span></a>
      </div>
    </div>
    </div>


    {{/unless}}


  </div>
</div>
</header>

